<div style="display: inline-block; vertical-align: middle; min-width: 270px; padding: 12px 0px 12px 0px;">
  <div style="display: inline-block; text-align: center; vertical-align: middle; margin: 12px; width: 24px;">
    <img src="{{ "/images/logos/tskgv.png" | relURL }}" style="vertical-align: middle;">
  </div>
  <div style="display: inline-block; width: 210px;vertical-align: middle;">
    <p style="
	    font-size: 8pt; 
	    text-align: left;
		-webkit-text-shadow: -1px 1px #555;
		-moz-text-shadow: -1px 1px #555;
		text-shadow: -1px 1px #555;
		">
      HAVELSAN A.Ş. Türk Silahlı Kuvvetlerini Güçlendirme Vakfı’nın bir kuruluşudur.
    </p>
  </div>
</div>