table.blueTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 400px;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #FFFFFF;
  padding: 10px 5px;
  vertical-align: middle;
}
table.blueTable tbody td {
  font-size: 14px;
    text-align: center;
}

table.blueTable tbody .symbol{
  font-size: 20px;
    text-align: center;
}

table.blueTable tr:nth-child(even) {
  background: #D8DDFF;
}
table.blueTable thead {
  background: #20317F;
  background: -moz-linear-gradient(top, #58649f 0%, #36458b 66%, #20317F 100%);
  background: -webkit-linear-gradient(top, #58649f 0%, #36458b 66%, #20317F 100%);
  background: linear-gradient(to bottom, #58649f 0%, #36458b 66%, #20317F 100%);
}
table.blueTable thead th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;

}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

@media (max-width: 767px) {
table.blueTable tbody td {
  font-size: 10px;
}
table.blueTable tbody .symbol{
  font-size: 13px;
}
table.blueTable thead th {
  font-size: 9px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  border-left: 1px solid #D0E4F5;
  vertical-align: middle;
}

div.blueTable-container {
  overflow-y: scroll;
}

}